body {
    background-color: cadetblue;
}

.center {
    text-align: center;
}

.form-body {
    background-color: darkblue;
    position: relative;
    left: 25%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    margin-top: 6px;
}