body {
    background-color: cadetblue;
    color : white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}

.form-body {
    background-color: darkblue;
    position: relative;
    padding-top: 40px;
    width: 50%;
    left: 30%;
    border-radius: 6px;
   
}

.input {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    margin-top: 6px;
    left: 15%; 
    align-content: space-between;
}
.text-input{
    height: 32px;
    border-radius: 6px;
}
.padding{
    padding: 16px 2px 16px 0;
}
.btn{
    background-color: yellowgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    width:90%;
    margin-left: 32px;
    color: white;
    height: 30px;
}