body {
    background-color: cadetblue;
}

.center {
    text-align: center;
}

.form-body {
    background-color: darkblue;
    width: 500px;
   
}
.input{
    display: flex;
    flex-direction: column;
}